.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 4px 8px;
}

.header {
    text-align: center;
}

.empty-list {
    margin: 12px 8px;
}

.state-on {
    color: white    
}
