<div class="week-timer">
    <div class="section{{this.viewLevel}}">
        <div class="title{{this.viewLevel}} events-text">Events <span *ngIf="subjectEvents.length==0">(none)</span></div>
        <div class="day-buttons">
            <button *ngFor="let day of dayFilterArray" (click)="handleDayButton(day)" class="button-small" 
                [ngClass]="{'button-selected':day.selected, 'button-dark':!day.selected}"><span class="button-text">{{day.name}}</span></button>

            &nbsp;<button (click)="handleWeekButton()" class="button-small" 
                [ngClass]="{'button-selected':dayFilter==31, 'button-dark':dayFilter!=31}"><span class="button-text">Week</span></button>

            &nbsp;<button (click)="handleWeekendButton()" class="button-small" 
                [ngClass]="{'button-selected':dayFilter==96, 'button-dark':dayFilter!=96}"><span class="button-text">W/end</span></button>

            &nbsp;<button (click)="handleOnceButton()" class="button-small" 
                [ngClass]="{'button-selected':dayFilter==128, 'button-dark':dayFilter!=128}"><span class="button-text">Once</span></button>
            
            &nbsp;<button (click)="handleAddButton()" class="button-small"><span class="button-text button-text-add">+</span></button>
        </div>
        
        <div>
            <div class="app-day-timer-content"><app-day-timer [events]="subjectEvents" [dayFilter]="dayFilter" 
                [selectedEvent]="selectedEvent" (onEventSelected)="handleEventSelected($event)"></app-day-timer></div>
        </div>
</div>
