@import "../../../style/colors.scss";
@import "../../../style/panes.scss";

.week-timer {
    .title {
        display: inline-block;
        vertical-align: top;
        margin: 8px 0;
    }

    .day-timer-content {
        display: inline-block;
    }
    .day-rect {
        fill: white;
        stroke: $day-rect-stroke;
        stroke-width: 1px;
    }
    .day-rect-period {
        fill: $day-period-fill;
        fill-opacity: 0.4;
    }
    .plus-text {
        font-size: 20px;
        text-anchor: middle;
        font-weight: bold;
    }
    .add-event {
        text-align: right;
        padding-bottom: 0.5em;
    }

    .button-bar {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
    }

    .day-buttons {
        display: inline-block;
        vertical-align: top;
        margin: 0px 8px 8px 0;
    }

    .week-buttons {
        display: inline-block;
        vertical-align: top;
        margin: 0px 8px 8px 0;
    }

    .button-small {
        display: inline-block;
        vertical-align: top;
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 1px;
    }
    .extra-space {
        margin: 0 8px 0 0;
    }
    .button-selected {
        background-color: $day-button-selected;
    }

    .button-text {
        font-size: 10px;
        line-height: 32px;
        vertical-align: middle;
    }

    .button-text-add {
        font-size: 32px;
        vertical-align: middle;
        font-weight: 900;
    }

    .events-text {
        display: inline-block;
    }

    .action {
        display: inline-block;
        height: 32px;
        width: 32px;
    }

}
