@import "../../../style/panes.scss";
@import "../../../style/temperatures.scss";

.heaters {
    background-color: #fff8f8;
    width: 100%;
}

.sensors {
    background-color: #f8ffff;
    width: 100%;
}

.temperature {
    color: black;
}

.room-title {
    width: calc(100% - 0.6em);
    color: white;
    background: none;
    border: none;
}

.room-setting {
    color: white;
    background: none;
    border: none;
}

.sensor-title {
    width: calc(100% - 0.6em);
    color: black;
    background: none;
    border: none;
    font-size: 1em;
}

.heater-title {
    width: calc(100% - 0.6em);
    color: white;
    background: none;
    border: none;
    font-size: 1em;
}