<div #appdiv (window:resize)="handleResize($event)" class="wrapper" [ngClass]="{'view-dual': true, 'view-single': viewMode=='single'}">
      <div *ngIf="showList" class="left-side">
        <app-room-list (onRoomSelected)="handleRoomSelected($event)">
        </app-room-list>
      </div><div *ngIf="showDetail" class="right-side">
        <app-room-detail *ngIf="currentRoom" [room]="currentRoom">
        </app-room-detail>
        <app-status *ngIf="!currentRoom">
        </app-status>
        <div *ngIf="viewMode=='single'" class="nav-back"><img src="assets/left-arrow.svg" height="40" (click)="handleBack()"></div>        
      </div>
</div>

