$temp-color-4: #0010FF;
$temp-color-5: #0030FF;
$temp-color-6: #0050FF;
$temp-color-7: #006EEB;
$temp-color-8: #0090FD;
$temp-color-9: #00AFFF;
$temp-color-10: #01CFFF;
$temp-color-11: #01CFFF;
$temp-color-12: #14E6F3;
$temp-color-13: #26F6E8;
$temp-color-14: #30FFCF;
$temp-color-15: #CFFF31;
$temp-color-16: #EEFF10;
$temp-color-17: #FDF001;
$temp-color-18: #FFCF00;
$temp-color-19: #F5B017;
$temp-color-20: #FF9F00;
$temp-color-21: #F18312;
$temp-color-22: #FF6002;
$temp-color-23: #FF4001;
$temp-color-24: #FF2000;
$temp-color-25: #FE0000;
$temp-color-26: #DF0100;

$day-rect-stroke: black;
$period-new: blue;
$period-selected: yellow;
$period-timed-selected: yellow;
$day-period-fill: purple;
$day-period-timed-fill: maroon;
$day-button-selected: yellow;
