.right-view {
    position: relative;
    padding-left: 0;
    color: white;
    margin: 6px;
    // background-color: red;
}

.title1 {
    font-size: 1.8em;
    // padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    //padding: 0.4em 1.5em 0.2em 0;
}
.title2 {
    font-size: 1.4em;
    padding-left: 0.5em;
}
.title3 {
    font-size: 1.24em;
    padding-left: 0.5em;
}
.title4 {
    font-size: 1.1em;
    padding-left: 0.5em;
}
.section2 {
    background-color: #202020;
    margin-top: 1em;
    padding-top: 0.5em;
    // padding-bottom: 0.5em;
}
.section3 {
    background-color: #404040;
    margin-top: 0.5em;
    padding-top: 0.5em;
    //padding-bottom: 0.5em;
}
.section4 {
    background-color: #606060;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.info-pair {
    padding-left: 2em;
}
.indent0 {
    padding-left: 0.8em;
}
.indent1 {
    padding-left: 2em;
}
.indent2 {
    padding-left: 3em;
}
.indent3 {
    padding-left: 4em;
}
