@import "./colors.scss";

.temperature-4 {
    background-color: $temp-color-4;
}
.temperature-5 {
    background-color: $temp-color-5;
}
.temperature-6 {
    background-color: $temp-color-6;
}
.temperature-7 {
    background-color: $temp-color-7;
}
.temperature-8 {
    background-color: $temp-color-8;
}
.temperature-9 {
    background-color: $temp-color-9;
}
.temperature-10 {
    background-color: $temp-color-10;
}
.temperature-11 {
    background-color: $temp-color-11;
}
.temperature-12 {
    background-color: $temp-color-12;
}
.temperature-13 {
    background-color: $temp-color-13;
}
.temperature-14 {
    background-color: $temp-color-14;
}
.temperature-15 {
    background-color: $temp-color-15;
}
.temperature-16 {
    background-color: $temp-color-16;
}
.temperature-17 {
    background-color: $temp-color-17;
}
.temperature-18 {
    background-color: $temp-color-18;
}
.temperature-19 {
    background-color: $temp-color-19;
}
.temperature-20 {
    background-color: $temp-color-20;
}
.temperature-21 {
    background-color: $temp-color-21;
}
.temperature-22 {
    background-color: $temp-color-22;
}
.temperature-23 {
    background-color: $temp-color-23;
}
.temperature-24 {
    background-color: $temp-color-24;
}
.temperature-25 {
    background-color: $temp-color-25;
}
.temperature-26 {
    background-color: $temp-color-26;
}
.temperature-999 {
    background-color: white;
    color: black;
}
