<div class="day-timer" (window:resize)="handleResize($event)">
    <div class="day-label">{{dayLabel}}</div>
    <div *ngIf="isValidPeriod(selectedEvent)" class="day-buttons">
        <span>repeating</span> <input type="checkbox" [(ngModel)]="repeating">
        <button *ngFor="let day of dayArray" [disabled]="!repeating" (click)="day.selected=!day.selected" class="button-small" 
            [ngClass]="{'button-selected':day.selected, 'button-dark':!day.selected}">{{day.name}}</button>
    </div>
    <!-- <div class="action-icon" (click)="addNewEvent()"><span class="glyphicon glyphicon-plus"></span></div> -->
    <div *ngIf="showCommit" class="action-icon" (click)="handleCommit()"><span class="glyphicon glyphicon-ok"></span></div>
    <div class="day-bar-wrapper">
        <div class="day-bar"></div>
        <ng-container *ngFor="let hour of hours; let idx = index">
            <div class="hour-text" [ngStyle]="{'left': barLeft + idx * (barWidth)/24 + 'px'}">{{hour}}</div>
            <div *ngIf="hour > 0" class="hour-line" [ngStyle]="{'left': barLeft + idx * (barWidth)/24 + 'px'}"></div>
        </ng-container>
        <ng-container *ngFor="let timedEvent of filteredEvents">
            <ng-container *ngIf="isValidPeriod(timedEvent)">
                <div 
                    class="period" [ngClass]="{'period-selected' : timedEvent == selectedEvent, 'timedEvent-new': timedEvent.id <= 0}"
                    [ngStyle]="{'left': getPeriodStartX(timedEvent) + 'px', 'width': getPeriodWidth(timedEvent) + 'px'}"
                    (tap)="onTapPeriod($event, timedEvent)"
                    (panstart)="onDragPeriod($event, timedEvent)" (pan)="onDragPeriod($event, timedEvent)" (panend)="onDragPeriod($event, timedEvent)"     
                    ></div>
                <div *ngIf="timedEvent == selectedEvent" class="period-select-handle" 
                    [ngStyle]="{'left': getPeriodStartX(timedEvent) + 'px'}"
                    (panstart)="onDragTimeStart($event, timedEvent)" (pan)="onDragTimeStart($event, timedEvent)" (panend)="onDragTimeStart($event, timedEvent)"
                    ></div>
                <div *ngIf="timedEvent == selectedEvent" class="period-select-handle" 
                    [ngStyle]="{'left': getPeriodEndX(timedEvent) + 'px'}"
                    (panstart)="onDragTimeEnd($event, timedEvent)" (pan)="onDragTimeEnd($event, timedEvent)" (panend)="onDragTimeEnd($event, timedEvent)"
                    ></div>
            </ng-container>
        </ng-container>
    </div>
</div>
